{% extends 'base.html' %}
{% block content %} 
<div id="container">
    <div id="intro-letters">
        <h1 id="intro">"Welcome to Movie Reviews"</h1>
        <button type="button" class="home-button">Learn More</button>
    </div>
</div>


<div id="reviewers">
    <h1 class="top_reviwers">Top Reviwers</h1>
    <div class="rows">
        {% load static %}
        <img src="{% static 'it112-images/profilepic1.jpg'%}" class="rounded-circle" alt="Cinque Terre" >  
        <div class='reviewer_description'>
            <p class='reviwer_info'>Name: JohnsonSwanson</p>
            <p class='reviwer_info'>age: 25</p>
            <p class='reviwer_info'>favorite Movie: Ganster of new york</p>
        </div>
    
    </div> 
    <div class="blank-row">

    </div>
    <div class="rows">
        {% load static %}
        <img src="{% static 'it112-images/profilepic1.jpg'%}" class="rounded-circle" alt="Cinque Terre" >  
        <div class='reviewer_description'>
            <p class='reviwer_info'>Name: Juicey</p>
            <p class='reviwer_info'>age: 57</p>
            <p class='reviwer_info'>Boyz in the hood</p>
        </div>
    
</div>


{% endblock %} 